<app-loader *ngIf="showLoader"></app-loader>
<div class="container mt-5" *ngIf="!showLoader">
  <!-- Tabs for switching between forms -->
  <ul class="nav nav-tabs mb-3" id="authTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button"
        role="tab" aria-controls="signup" aria-selected="true">Sign Up</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="signin-tab" data-bs-toggle="tab" data-bs-target="#signin" type="button" role="tab"
        aria-controls="signin" aria-selected="false">Sign In</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="reset-tab" data-bs-toggle="tab" data-bs-target="#reset" type="button" role="tab"
        aria-controls="reset" aria-selected="false">Reset Password</button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="authTabsContent">
    <!-- Sign Up Form -->
    <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="signup-tab">
      <h2 class="text-center mb-4">Create Account</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()" novalidate>
        <div class="form-floating mb-3">
          <input type="text" formControlName="userName" class="form-control form-control-custom" id="signupUsername"
            placeholder="Username">
          <label for="signupUsername">Username</label>
          <div class="text-danger ms-2"
            *ngIf="signupForm.get('userName')?.invalid && (signupForm.get('userName')?.touched || signupForm.get('userName')?.dirty)">
            <div class="text-danger ms-2" *ngIf="signupForm.get('userName')?.errors?.['required']">Username is
              required.</div>
            <div class="text-danger ms-2" *ngIf="signupForm.get('userName')?.errors?.['minlength']">Username must be
              at least 6 characters long.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="email" formControlName="email" class="form-control form-control-custom" id="signupEmail"
            placeholder="Email">
          <label for="signupEmail">Email address</label>
          <div class="text-danger ms-2"
            *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
            <div class="text-danger ms-2" *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
            <div class="text-danger ms-2" *ngIf="signupForm.get('email')?.errors?.['email']">Enter a valid email
              address.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" formControlName="password" class="form-control form-control-custom" id="signupPassword"
            placeholder="Password">
          <label for="signupPassword">Password</label>
          <div class="text-danger ms-2"
            *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
            <div class="text-danger ms-2" *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.
            </div>
            <div class="text-danger ms-2" *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be
              at least 7 characters long.</div>
            <div class="text-danger ms-2" *ngIf="signupForm.get('password')?.errors?.['passwordStrength']">Password
              must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-custom w-100 text-white">Sign Up</button>
      </form>
    </div>

    <!-- Sign In Form -->
    <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="signin-tab">
      <h2 class="text-center mb-4">Sign In</h2>
      <form [formGroup]="signinForm" (ngSubmit)="onSigninSubmit()" novalidate>
        <div class="form-floating mb-3">
          <input type="text" formControlName="userName" class="form-control form-control-custom" id="signinUsername"
            placeholder="Username">
          <label for="signinUsername">Username</label>
          <div class="text-danger ms-2"
            *ngIf="signinForm.get('userName')?.invalid && (signinForm.get('userName')?.touched || signinForm.get('userName')?.dirty)">
            <div class="text-danger ms-2" *ngIf="signinForm.get('userName')?.errors?.['required']">Username is required.
            </div>
            <div class="text-danger ms-2" *ngIf="signinForm.get('userName')?.errors?.['minlength']">Username must be at
              least 6 characters long.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" formControlName="password" class="form-control form-control-custom" id="signinPassword"
            placeholder="Password">
          <label for="signinPassword">Password</label>
          <div class="text-danger ms-2"
            *ngIf="signinForm.get('password')?.invalid && (signinForm.get('password')?.touched || signinForm.get('password')?.dirty)">
            <div class="text-danger ms-2" *ngIf="signinForm.get('password')?.errors?.['required']">Password is required.
            </div>
            <div class="text-danger ms-2" *ngIf="signinForm.get('password')?.errors?.['minlength']">Password must be at
              least 7 characters long.</div>
            <div class="text-danger ms-2" *ngIf="signinForm.get('password')?.errors?.['passwordStrength']">Password must
              contain at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-custom w-100 text-white">Sign In</button>
      </form>
    </div>

    <!-- Reset Password Form -->
    <!-- Reset Password Form -->
    <div class="tab-pane fade" id="reset" role="tabpanel" aria-labelledby="reset-tab">
      <h2 class="text-center mb-4">Reset Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()" novalidate>
        <div class="form-floating mb-3">
          <input type="email" formControlName="email" class="form-control" id="resetEmail" placeholder="Email">
          <label for="resetEmail">Email</label>
          <div class="text-danger ms-2"
            *ngIf="resetPasswordForm.get('email')?.invalid && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.dirty)"
            class="text-danger">
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is
              required.</div>
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Enter a valid
              email address.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword"
            placeholder="Old Password">
          <label for="oldPassword">Old Password</label>
          <div class="text-danger ms-2"
            *ngIf="resetPasswordForm.get('oldPassword')?.invalid && (resetPasswordForm.get('oldPassword')?.touched || resetPasswordForm.get('oldPassword')?.dirty)"
            class="text-danger">
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['required']">Old
              password is required.</div>
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['minlength']">Old
              password must be at least 7
              characters long.</div>
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('oldPassword')?.errors?.['passwordStrength']">
              Old password must contain at
              least one uppercase letter, one lowercase letter, one number, and one special character.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" formControlName="password" class="form-control" id="resetNewPassword"
            placeholder="New Password">
          <label for="resetNewPassword">New Password</label>
          <div class="text-danger ms-2"
            *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty)"
            class="text-danger">
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('password')?.errors?.['required']">New password
              is required.</div>
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">New
              password must be at least 7
              characters long.</div>
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.get('password')?.errors?.['passwordStrength']">New
              password must contain at
              least one uppercase letter, one lowercase letter, one number, and one special character.</div>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
            placeholder="Confirm New Password">
          <label for="confirmPassword">Confirm New Password</label>
          <div class="text-danger ms-2"
            *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty)"
            class="text-danger">
            <div class="text-danger ms-2" *ngIf="resetPasswordForm.errors?.['mismatch']">Passwords do not match.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-custom w-100 text-white">Reset Password</button>
      </form>
    </div>

  </div>
</div>